manifest {
    author = 'Angel Angelov'
    name = 'WINK'
    description = 'real-time phylogenetic classification and species quantification for Nanopore sequencing data'
    homePage = 'https://github.com/angelovangel/wink'
    nextflowVersion = '>=19.08'
}

profiles {
    
    conda {
        process.conda = "$baseDir/environment.yml"
    }
    
    docker {
        process.container = 'aangeloo/wink:latest'
        docker.enabled = true
    }
}